body{
  min-height: 200vh;
  font-family: 'Lustria', serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.brand-logo{
  padding-left: 10px;
  margin-top: 30vh;
}

.thin-text {
  font-weight: 300;
  background: rgba(96, 125, 139, .4);
  padding: 40px;
  border-radius: 10px;
}

.section-header{
  font-weight: 300;
}

.cta{
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.contact-form {
  padding-top: 40px;
}

.activator {
  height: 170px;
}

.email{
  font-weight: 300;
  border-radius: 10px;
  color: white;
}

.fa-twitter{
  margin-right: 40px;
}
